     

<div class="row">
  <div class="large-12 columns ourbutton">    
      <%= link_to 'Nueva Tarea', new_task_path, remote: :true, class: "button success small" %>
      <div id="new_task" style="display:none;"></div>
  </div>    
</div>
            
<div class="row" id="tablaprincipal">
     
    <% @tasks.each do |task| %>
      <%= render task%>
    <% end %>

</div>
         
<div class="row">
    <div class="large-12 columns">
                  <div class="panel">
                    <div class="row">
                      <div class="large-2 small-6 columns">
                        <img src="http://placehold.it/300x300&text=Site Owner">
                      </div>
                      <div class="large-10 small-6 columns">
                        <strong>Esta página pertenece a Solitask<hr/></strong>
                        La Fe mueve montañas.
                      </div>
                    </div>
                  </div>
     </div>
</div>
      