<%= render ('layouts/header')%>




<div class="row">
	<div class="large-8 columns">
		<h2>Condiciones</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vestibulum, justo sit amet bibendum imperdiet, velit turpis ornare lectus, quis posuere neque nulla ut ipsum. Cras consequat elit sed pretium commodo. Vivamus semper dictum dolor, vitae pulvinar purus auctor at. Nunc ex mi, fringilla vitae posuere vel, placerat a libero. Etiam eget magna elementum, auctor velit non, dictum dui. Donec placerat quam diam, et vulputate purus convallis non. Donec sit amet pulvinar orci. Fusce auctor orci vitae sollicitudin efficitur.</p>

		<p>Mauris vitae placerat lacus. Integer nec nisl nibh. Aliquam metus felis, tempus sit amet quam vitae, accumsan aliquet leo. Donec dapibus tempor tempor. Mauris tincidunt faucibus sem sed mollis. Cras at auctor ante, a blandit mauris. Vivamus pulvinar volutpat libero, nec viverra erat pellentesque at. Donec elementum nulla ut rhoncus gravida. Ut auctor auctor diam, non pharetra ligula mattis quis.</p>

		<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In auctor dictum sapien eget volutpat. Ut mollis justo vel metus placerat tempor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In a metus justo. Nulla egestas tincidunt sapien, eu elementum erat commodo sed. Mauris a nisl id nunc vestibulum molestie quis nec dolor. Quisque at diam ac mauris congue sagittis vitae quis sem. Nam tellus diam, scelerisque id urna vel, luctus tincidunt arcu. Aenean vel sollicitudin eros.</p>

		<p>Vivamus gravida maximus libero, ac ultricies dui elementum in. Donec quis rhoncus ipsum. Etiam commodo convallis efficitur. Phasellus rutrum turpis et nunc dictum aliquam. Quisque venenatis mi et ultricies luctus. Quisque imperdiet iaculis nisl sit amet porttitor. In hac habitasse platea dictumst. Aliquam felis ante, condimentum sed viverra ut, blandit non massa. Proin eget ultrices tellus. Nam ante nisl, scelerisque sed luctus id, auctor laoreet dolor.</p>


	</div>
	<div class="large-4 show-for-large-up columns">
		<%= image_tag("arbol.jpg") %>
	</div>
</div>
<%= render ('layouts/footer')%>


