<div class="marco">
      <div class="slick_block pic">
        <div><%= image_tag("gente.jpg") %></div>
        <div><%= image_tag("puente.jpg") %></div>
        <div><%= image_tag("punto.jpg") %></div>
      </div>
</div>









<div class="sloganfront">
      <div class="slick_block2 pic">
        <div>"La aplicación más innovadora <br>
        	que promueve la solidaridad <br>
        	nace en España". New York Times, Scott Fitzgerald</div>
        


        <div>"La aplicación que cambiará <br>
        	tu forma de ver la vida". <br>
        	 BBC, Ryan Reynols</div>
        
        <div>"Dejé el periodismo para dedicarme<br>
        	única y exclusivamente a las <br>
        	acciones solidarias". Dra. Laura Domínguez</div>
      </div>
</div>



<div class="input"> 

	<div class="caja">
		Tu nombre
	</div>




	<div class="caja">
		Tu contraseña
	</div>


	<div class="boton">
		 
		 <%= link_to 'Entrar', tasks_path %>
	</div>


</div>





