 f.cabeza {
	background-color: #dddddd;
	border-bottom: gray solid 2px;

}
.logo{
	width: 100px;
	margin: 20px;
}
.titlepage{
	padding-top: 40px;
}
.slogan h4{
	padding-top: 45px;
	color: red;

}
.arbol {
	margin-top: 25px;
	height:500px;
}

.footer{
	margin-top: 20px;
	color:white;
	background-color:#333;
	border-top: black solid 2px;
}


.marco {
  width: 100%;/*300*/
  position: absolute;
  top:0px;
  z-index: -10;
  overflow: hidden;
  }
.slogans{
	position: absolute;
	top:100px;
	margin-left: 5%;
	color: white;
	font-size: 5em;
	line-height: 50px;
}
.pic{
    width: 100%;
    
}







.input {
	position: absolute;
	left: 50%;
	border: grey solid 1px;
	top: 200px;
	background: white;
	opacity: .8;
	border-radius: 4px;
}



.caja {
	width: 200px;
	border: grey solid 1px;
	margin: 20px;
	padding: 5px;
	border-radius: 4px;

}


.boton	{
	position: relative;
	padding: 5px;
	background-color: #7aa9ee;
	width: 60px;
	margin: 15px;
	left: 150px;
	border-radius: 4px;
	font-size: 17px;
}


.sloganfront {
	top: 500px;
	position: absolute;
	margin: 60px;
	font-size: 30px;
	line-height: 45px;
	color: white;
	text-shadow: 0.1em 0.1em #333;
}

.ourbutton {
	position: relative;
	margin-top: 20px;
	margin-right: 0px;
}


a.ourb:hover, a.ourb:active, a.ourb:link, a.ourb:visited {
	padding: 4px;
}

.ourhighlight {
	background-color: yellow;
}




